.app__container {
    display: flex;
}

.app__Home {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .app__Home-wrapper {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;

        .app__Home-card {
            position: relative;
            width: 15rem;
            height: 16rem;
            background-color: var(--title-inverse);
            margin: 1rem;
            border-radius: 1rem;
            box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
            transition: all 1s ease-in-out;


            .app__Home-content {


                .app__Home-info {
                    h1 {
                        font-weight: 600;
                        letter-spacing: .05rem;
                        color: var(--accent);
                        margin-bottom: .5rem;
                    }

                    margin: .5rem;
                }

                .app__Home-image {


                    img {
                        width: 100%;
                        border-radius: 1rem 1rem 0 0;
                    }
                }
            }
        }

    }

    .app-row {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;

        margin: 2rem 0;

        width: 20rem;
        height: 2rem;
        border-radius: .4rem;

        background: rgba(255, 255, 255, 0.25);
        box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
        backdrop-filter: blur(4px);
        -webkit-backdrop-filter: blur(4px);
        border-radius: 10px;
        border: 1px solid rgba(255, 255, 255, 0.18);
    }


}

.app__Home-textField {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    background-color: var(--title-inverse);
    max-width: 20rem;
    min-width: 20rem;
    border-radius: 0 1rem 1rem 0;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    transition: all .3s ease-in-out;

    button {
        margin: 1rem;
        top: 6rem;
        left: 1rem;
    }
}

.app__Home-textField-toggle {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    background-color: var(--title-inverse);
    width: 4rem;
    border-radius: 0 1rem 1rem 0;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    transition: all .3s ease-in-out;



    button {
        margin: 1rem;
        top: 5rem;
        right: 2rem;
    }
}

.app__search-value {
    display: flex;
    top: 5rem;
    left: 2rem;
}

.app__close-bg {
    position: absolute;
    right: 0;
    width: 4rem;
    height: 4rem;
    background-color: var(--color-4);
    border-radius: 0 1rem;
    cursor: pointer;
    color: var(--title-inverse);
    transition: all .3s ease-in-out;

    &:hover {
        background-color: var(--color-2);
    }
        
    .app__close-button {
        position: absolute;
        right: 1rem;
        top: 1rem;
        width: 2rem;
        height: 2rem;
    }
}

.app__search-visibility {
    visibility: hidden;
}