.app__Login {

    position:fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);

    .app__LoginForm {
        position: relative;
    
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    
        width: 40rem;
        height: 25rem;
        border-radius: 2rem;
    
        background-color: var(--bg-primary);
    
        box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;

        .app__LoginForm-error-name {
            position: absolute;
            top: 2rem;
            left: 15rem;
            background-color: var(--color-4);
            width: 10rem;
            height: 2rem;
            border-radius: .5rem;
            display: flex;
            justify-content: center;
            align-items: center;
            box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
            color: var(--title-inverse);
            font-weight: 600;
        }

        .app__LoginForm-error-password {
            position: absolute;
            bottom: 14rem;
            left: 15rem;
            background-color: var(--color-4);
            width: 22rem;
            height: 2rem;
            border-radius: .5rem;
            display: flex;
            justify-content: center;
            align-items: center;
            box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
            color: var(--title-inverse);
            font-weight: 600;
        }

        .app__LoginForm-button {
            margin: 2rem;
            color: var(--accent);
            border: .1rem solid var(--accent);
            transition: all .3s ease-in-out;

            &:hover {
                color: var(--bg-primary);
                background-color: var(--accent);
                box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
            }
        }
    }
}