.app__pagination {
    display: flex;
    justify-content: center;
    position: absolute;
    margin: 10px 0;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    padding-left: 4rem;

    button {
        margin: 0 2rem;
    }
}